{% extends "base_and_header_bar.html" %}

{% block title %}
Employees
{% endblock %}

{% block maintext %}
Employees
{% endblock %}

{% block content_after_header_bar %}

<table>
  <tr class="first-table-row">
    <th>№</th>
    <th>Name</th>
    <th>Speciality</th>
    <th></th>
    <th></th>
  </tr>

  {% for employee in employee_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>        
        <a href="{% url 'users:profile' employee.user.id %}">
          {{ employee.user }}
        </a>
      </td>
      <td>{{ employee.speciality }}</td>
      <td>
        <a href="{% url 'users:employee_update' employee.user.id %}">Set Speciality</a>
      </td>
      <td>
        <a href="{% url 'users:employee_delete' employee.user.id %}">Dismiss</a>
      </td>
    </tr>
  {% endfor %}
</table>
<form action="{% url 'users:employee_create' %}">
  <button style="margin-top: 20px;" type="submit">Hire New</button>
</form>

{% endblock %}