{% extends "base.html" %}

{% block title %}
Employees
{% endblock %}

{% block content %}

{% include "buttons/mainbutton.html" %}
{% include "buttons/myprofilebutton.html" %}
{% include "buttons/logoutbutton.html" %}

<h1>Employees</h1>

<table>
  <tr class="first-table-row">
    <th>№</th>
    <th>Name</th>
    <th>Speciality</th>
  </tr>

  {% for employee in employee_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>        
        <a href="{% url 'users:profile' employee.user.id %}">
          {{ employee.user }}
        </a>
      </td>
      <td>{{ employee.speciality }}</td>
      <td>
        <form action="{% url 'users:employee_update' employee.user.id %}">
          <button type="submit">Set speciality</button>
        </form>
      </td>
      <td>
        <form action="{% url 'users:employee_delete' employee.user.id %}">
          <button type="submit">Dismiss</button>
        </form>
      </td>

    </tr>
  {% endfor %}
</table>
<form action="{% url 'users:employee_create' %}">
  <button type="submit">Hire New</button>
</form>

{% endblock %}