{% extends "base_and_header_bar.html" %}

{% block title %}
Patients
{% endblock %}

{% block maintext %}
Patients
{% endblock %}

{% block content_after_header_bar %}

<table>
  <tr class="first-table-row">
    <th>№</th>
    <th>Name</th>
    <th>Diseases</th>
    <th>Symptoms</th>
    <th>Hospital</th>
    <th></th>
    {% if user.employee.speciality == "manager" %}
      <th></th>
    {% endif %}
  </tr>

  {% for patient in patient_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>        
        <a href="{% url 'users:profile' patient.user.id %}">
          {{ patient.user }}
        </a>
      </td>
      <td>
        {% for disease in patient.diseases.all %}
          {{ disease.name|linebreaks }}
        {% endfor %}
      </td>
      <td>
        {% for symptom in patient.symptoms.all %}
          {{ symptom.name|linebreaks }}
        {% endfor %} 
      </td>
      <td>{{ patient.hospital.name }}</td>
      <td>
        <a href="{% url 'users:patient_update' patient.user.id %}">Diagnose</a>
      </td>
      {% if user.employee.speciality == "manager" %}
        <td>
          <a href="{% url 'users:patient_delete' patient.user.id %}">Release</a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% if user.employee.speciality == "manager" %}
  <form style="margin-top: 20px;" action="{% url 'users:patient_create' %}">
    <button type="submit">Take New</button>
  </form>
{% endif %}

{% endblock %}