{% extends "base_and_header_bar.html" %}

{% block title %}
Bills
{% endblock %}

{% block maintext %}
Bills
{% endblock %}

{% block content_after_header_bar %}

<table>
  <tr class="first-table-row">
    <th>№</th>
    <th>Info</th>
    <th>Amount</th>
    <th>Change</th>
    <th>Current change</th>
    {% if user.employee.speciality == "manager" %}
      <th></th>
    {% endif %}
  </tr>

  {% for bill in bill_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ bill.info }}</td>
      <td>{{ bill.amount|floatformat:1 }}</td>
      <td>{{ bill.change }}</td>
      <td>{{ bill.current_change }}</td>
      {% if user.employee.speciality == "manager" %}
        <td>
          <a href="{% url 'payments:bill_update' bill.id %}">Edit</a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>

{% endblock %}