{% extends "base_and_header_bar.html" %}

{% block title %}
Symptoms
{% endblock %}

{% block maintext %}
Symptoms
{% endblock %}

{% block content_after_header_bar %}

<table>
  <tr class="first-table-row">
    <th>№</th>
    <th>Name</th>
    <th>Description</th>
    {% if user.employee %}
      <th></th>
      <th></th>
    {% endif %}
  </tr>

  {% for symptom in symptom_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ symptom.name }}</td>
      <td>
        {% if symptom.description_ref is not None %}
          <a href="{{ symptom.description_ref }}">
            {{ symptom.description_ref }}
          </a>
        {% endif %}
      </td>
      {% if user.employee %}
        <td>
          <a href="{% url 'therapy:symptom_update' symptom.id %}">Edit</a>
        </td>
        <td>
          <a href="{% url 'therapy:symptom_delete' symptom.id %}">Delete</a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% if user.employee %}
  <form style="margin-top: 20px;" action="{% url 'therapy:symptom_create' %}">
    <button type="submit">Add Symptom</button>
  </form>
{% endif %}

{% endblock %}