{% extends "base_and_header_bar.html" %}

{% block title %}
Hospitals
{% endblock %}

{% block maintext %}
Hospitals
{% endblock %}

{% block content_after_header_bar %}

<table>
  <tr class="first-table-row">
    <th>№</th>
    <th>Name</th>
    {% if user.employee %}
      <th>Patients</th>
    {% endif %}
    {% if user.employee.speciality == "manager" %}
      <th></th>
      <th></th>
    {% endif %}
  </tr>

  {% for hospital in hospital_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ hospital.name }}</td>
      {% if user.employee %}
      <td>
        {% for patient in hospital.patient_set.all %}
          {{ patient|linebreaks }}
        {% endfor %}
      </td>
      {% endif %}
      {% if user.employee.speciality == "manager" %}
        <td>
          <a href="{% url 'cooperation:hospital_update' hospital.id %}">Edit</a>
        </td>
        <td>
          <a href="{% url 'cooperation:hospital_delete' hospital.id %}">Delete</a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% if user.employee.speciality == "manager" %}
  <form style="margin-top: 20px;" action="{% url 'cooperation:hospital_create' %}">
    <button type="submit">Add Hospital</button>
  </form>
{% endif %}

{% endblock %}