{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

{% include "buttons/mainbutton.html" %}
{% include "buttons/logoutbutton.html" %}

<h1>My profile</h1>
<p>
  {{ user.first_name }}
  {{ user.second_name }}
  {{ user.email }}
  {% if user.employee %}
  {{ user.employee.speciality }}
  {% endif %}
  {% if user.patient %}
  Patient
  {% endif %}
</p>

{% if user.patient.bill_id %}
<p>Your bill: {{ user.patient.bill.amount|floatformat:1 }}</p>
<form action="{% url 'payments:pay_bill' user.patient.bill_id %}">
  <button type="submit">Pay My Bill</button>
</form>
{% endif %}

{% for hospital in user.hospitals.all %}
<p>
  {{ hospital }} bill: {{ hospital.bill.amount|floatformat:1 }}
  <form action="{% url 'payments:pay_hospital_bill' hospital.bill_id %}">
    <button type="submit">Pay Hospital Bill</button>
  </form>
  {% endfor %}
</p>

{% if user.employee %}
Your wages: {% widthratio user.employee.bill.amount|floatformat:1 1 -1 %} <!-- it's multiplication by -1 -->
<form action="{% url 'payments:get_wages' user.employee.bill_id %}">
  <button type="submit">Get Wages</button>
</form>
{% endif %}
<form action="{% url 'users:myprofile_edit' %}">
  <button type="submit">Edit Profile</button>
</form>
{% endblock %}