{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

{% include "buttons/mainbutton.html" %}
{% include "buttons/logoutbutton.html" %}

<h1>My profile</h1>
<p>
  {{ user.first_name }}
  {{ user.second_name }}
  {{ user.email }}
  {% if user.employee %}
  {{ user.employee.speciality }}
  {% endif %}
  {% if user.patient %}
  Patient
  {% endif %}
</p>
<form action="{% url 'users:myprofile_edit' %}">
  <button type="submit">Edit Profile</button>
</form>
{% endblock %}