{% extends "base_and_header_bar.html" %}

{% block title %}
Edit Profile
{% endblock %}

{% block maintext %}
Edit Profile
{% endblock %}

{% block content_after_header_bar %}

<form method="post">
  {% csrf_token %}
  {% for field in form %}
    {{ field.label_tag }}
    {{ field }}
    {% for error in field.errors %}
      <p>{{ error }}</p>
    {% endfor %}
  {% endfor %}
  <button style="margin-bottom: 10px; margin-top: 10px; display: block;" type="submit">Save</button>
</form>
{% endblock %}
