{% extends "base_and_header_bar.html" %}

{% block title %}
{{ profile }}
{% endblock %}

{% block maintext %}
{{ profile }}
{% endblock %}

{% block content_after_header_bar %}

{{ profile.first_name }} {{ profile.second_name }} <br>
{{ profile.email }} <br>
{% if user.employee %}
  {% if profile.employee %}
    {{ profile.employee.speciality }} <br>
  {% endif %}
  {% if profile.patient %}
    patient
    {% if profile.patient.hospital %}
      from {{ profile.patient.hospital }} <br>
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}