{% extends "base_and_header_bar.html" %}

{% block title %}
Payments
{% endblock %}

{% block maintext %}
Payments
{% endblock %}

{% block content_after_header_bar %}

<table>
  <tr class="first-table-row">
    <th>№</th>
    <th>Info</th>
    <th>Amount</th>
    <th>Conducted</th>
  </tr>

  {% for payment in payment_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ payment.info }}</td>
      <td>{{ payment.amount|floatformat:1 }}</td>
      <td>{{ payment.conducted|date:'M d, Y, H:i' }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}