{% extends "base_and_header_bar.html" %}

{% block title %}
Users
{% endblock %}

{% block maintext %}
Users
{% endblock %}

{% block content_after_header_bar %}

<style>
.container{
  max-width: 1500px;
}
</style>

<table>
  <tr class="first-table-row">
    <th>№</th>
    <th>Name</th>
    <th>Email</th>
    {% if user.employee %}
      <th>Speciality</th>
      <th>Patient</th>
      <th>From Hospital</th>
      <th>Diseases</th>
      <th>Symptoms</th>
      {% if user.employee.speciality == "manager" %}
        <th>Pays for Hospital</th>
        <th></th>
      {% endif %}
    {% endif %}
  </tr>

  {% for loopuser in user_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>        
        <a href="{% url 'users:profile' loopuser.id %}">
          {{ loopuser }}
        </a>
      </td>
      <td>{{ loopuser.email }}</td>
      {% if user.employee %}
        <td>{{ loopuser.employee.speciality }}</td>
        <td>
          {% if loopuser.patient %}
            patient
          {% endif %}
        </td>
        <td>
          {% if loopuser.patient.hospital %}
            {{ loopuser.patient.hospital }}
          {% endif %}
        </td>
        <td>
          {% for disease in loopuser.patient.diseases.all %}
            {{ disease.name|linebreaks }}
          {% endfor %}
        </td>
        <td>
          {% for symptom in loopuser.patient.symptoms.all %}
            {{ symptom.name|linebreaks }}
          {% endfor %}
        </td>
      {% endif %}
      {% if user.employee.speciality == "manager" %}
        <td>
          {% for hospital in loopuser.hospitals.all %}
            {{ hospital|linebreaks }}
          {% endfor %}
        </td>
        <td>
          <a href="{% url 'users:user_update' loopuser.id %}">Edit</a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>

{% endblock %}