{% extends "base.html" %}

{% block title %}
Diseases
{% endblock %}

{% block content %}

{% include "buttons/mainbutton.html" %}
{% include "buttons/profilebutton.html" %}
{% include "buttons/logoutbutton.html" %}

<h1>Diseases</h1>

<table>
  <tr class="first-table-row">
    <th>№</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

  {% for disease in diseases %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ disease.name }}</td>
      {% if disease.description_ref is not None %}
        <td>
          <a href="{{ disease.description_ref }}">
            {{ disease.description_ref }}
          </a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>

{% endblock %}