{% extends "base.html" %}

{% block title %}
Main
{% endblock %}

{% block content %}

{% include "buttons/myprofilebutton.html" %}
{% include "buttons/logoutbutton.html" %}

<h1>
  MAIN
</h1>
<p>
  Hell o
  I'm
  {{ user }}
  And I can do this:
</p>
<a href="{% url 'users:user_list' %}">Users</a>
<a href="{% url 'therapy:disease_list' %}">Diseases</a>
<a href="{% url 'therapy:symptom_list' %}">Symptoms</a>
<a href="{% url 'cooperation:hospital_list' %}">Hospitals</a>
{% if user.employee %}
<a href="{% url 'users:patient_list' %}">Patients</a>
{% endif %}
{% if user.employee.speciality == "manager" %}
<a href="{% url 'users:employee_list' %}">Employees</a>
{% endif %}
{% if user.employee.speciality == "manager" %}
<a href="{% url 'payments:bill_list' %}">Bills</a>
{% endif %}

{% endblock %}